@mixin header {
    @include navbar;   
    background-color:rgba(35, 140, 140, 0.9);
    padding: 15px;
    align-items: center;

}
header nav ul{
    display: flex;
    gap: 20px;

}


@media (min-width: 768px){

    header {
        display: flex;
        justify-content: space-between;

    }
    nav{
        display: block;
    }

    header ul{
        display: flex;
        gap: 20px;
    }
}

